@font-face {
    font-family: "menu";
    src: url("font/Montserrat-Light.ttf");
}


body {
    background-color: #f4f4f4;
    font-family:menu;
    color: 555;
    line-height: 1.6em;
    margin: 0;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: #fff;
    color: #fff;
}

.container .logo {
    float: left;
    margin-top: 6px;
}

.container .login {
    float: right;
    margin-top: 30px;
    text-align: center;
    font-size: 17px
}

input.sub1[type=submit] {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: #fbee24;
    cursor: pointer;
    background-color: #018bd4;
    opacity: .9;
    font-weight: bolder;
    font-size: 17px
}

input.sub2[type=submit] {
    background-color: rgba(0, 255, 0, 0);
    cursor: pointer;
    width: 150px;
    border: 0px;
    color: green;
    font-weight: bolder;


}

input[type=text] {
    font-size: 22px;
    color: black;
    border-radius: 50px;
    height: 35px;
    width: 400px;
    opacity: .7;
}

a {
    text-decoration: none;
    color: #fbee24;
}

#navbar {
    background-color: #fbee24;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar a:hover {
    background-color: #019247;

}

#showcase {
    background-image: url('img/gorille.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 0px;
    text-align: center;
    min-height: 200px;
}

#showcase h1 {
    color: #1919fe;
    font-size;
    line-height: 1.6em;
    padding-top: 30px;
}
.enregistre{
    background-color: lightblue;
    opacity: .8;
    width: 30%;
}

#main-footer {
    text-align: center;
    padding: 28px;
    margin-top: 0px;
    background-color: #018bd4;
    color: #fff;
    opacity: .9;
    height: 150px;
    height: 30px;

}
#main-footer ul li{
    display: inline;
}
#main-footer a{
    padding-right: 20px;
}

footer ul {
    list-style: none;
    float: left;
}

footer a {
    color: #fbee24;
}
footer p{
    float: right;
}
